[submodule "submodules/bridge"]
	path = submodules/bridge
	url = git@github.com:Taraxa-project/bridge.git
[submodule "submodules/taraxa-evm"]
	path = submodules/taraxa-evm
	url = git@github.com:Taraxa-project/taraxa-evm.git
